{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "src/css/styles.css" %}" rel="stylesheet">
        {% vite_hmr_client %}   
        {% vite_asset 'js/main.js' %}
    </head>
    <body class="bd">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <h2>My blog</h2>
            <p>This is my blog.</p>
        </div>  
    </body>
</html>