{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, укажите новый пароль</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменитьмой пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароля оказалась недействительной, возможно, потому что она уже была использована.
            Пожалуйста, запросите новый пароль.</p>
    {% endif %}
{% endblock content %}