{% extends "books/base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h1>
        {{ post.title }}
    </h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks  }}
    {% comment %}
    {% with %} allows you to assign a value to a new variable that will be
    available in the template until the {% endwith %} tag appears.
    {% endcomment %}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
            {% comment %} filter pluralize add suffix "s", example: 0 comments, 1 comment {% endcomment %}
        </h2>
    {% endwith %}
    {% for comment in comments  %}
        <div>
            <p>
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created}}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments.</p>
    {% endfor %}
    {% include "books/post/includes/comment_form.html" %}
{% endblock content %}