@import "https://unpkg.com/open-props";

body {
    flex: auto;
    padding: 0%;
    background-color: var(--gray-4);
    font-family: var(--font-sans);
    font-size: var(--font-size-3);
}

#header { 
    display: flex;
    margin: var(--size-000);
    border: var(--border-size-2) solid var(--gray-10);
    background-color: var(--gray-10);
}

.hd_but {
    padding: 9px;
    color: var(--gray-1);
    font-size: var(--font-size-2);
    border-radius: var(--radius-2);
    border: none;
    background-color: var(--gray-8);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-9);
}

.hd_but:hover {
    background-color: var(--red-7);
}

.logo {
    float: left;
    position: relative;
    width: 90%;
    height: 30%;
    margin: var(--size-5);
    font-weight: var(--font-weight-9);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    color: var(--red-7);
}

.menu {
    list-style: none;
    margin: auto;
    padding: 10px   ;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-3)
}

.menu div {
    margin-left: var(--size-5);
}

.selected {
}

.user {
    float: right;
    width: auto;
    margin-right: 0%;
    margin: var(--size-7);
    font-size: var(--font-size-3);
}

#main {
    display: flex;
}

#content {
    background-color: var(--gray-1);
    margin-left: var(--size-10);
    margin-top: var(--size-8);
    padding: var(--size-5);
    width: 70%;
    
}

#blocks {
    background-color: white;
    margin-left: var(--size-8);
    margin-right: var(--size-10);
    margin-top: var(--size-8);
    width: 25%;
    min-height: auto;
}

.but {
    padding: 9px;
    color: var(--gray-1);
    font-size: var(--font-size-1);
    border-radius: var(--radius-2);
    border: none;
    background-color: var(--red-7);
    font-family: var(--font-sans);
}

.but:hover {
    background-color: var(--red-8);
}

.dash_inf {
    text-decoration: underline solid 5px var(--red-7);
}

.hypertext {
    color: var(--red-5);
}

.hypertext:hover {
    color: var(--red-9);
}