{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/styles.css" %}" rel="stylesheet">
        {% vite_hmr_client %}   
        {% vite_asset 'js/main.js' %}
</head>
    <body class="bd">
        <div id="header">
            <span class="logo">Prometheus</span>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>